@model List<Categories>
@using Mag.Helpers

@{
    ViewData["Title"] = "Categories";
}
<div class="container">
    <div class="row">
        @foreach(var cat in Model)
        {
            <div class="list-group mb-3">
                <a asp-controller="Store" asp-action="Products" asp-route-id="@((int)cat)" style=" text-decoration:none" class="link-dark">@cat.GetCategoryName()</a>
            </div>
        }
    </div>
</div>