@model Product
@{
    ViewData["Title"] = Model.Name;
}
@Model.Description;
<div class="container">
    <div class="row">
        <div class="col">
            <a class="btn btn-info" asp-controller="Store" asp-action="AddToBasket" asp-route-id="@Model.Id">Додати до кошика</a>
        </div>
    </div>
</div>